#logo1{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
#logo2{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
#logo3{
    width: 150px;
    height: 150px;
    border-radius:50%;
}
#logo4{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
#logo5{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
#logo6{
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
#logo7{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.heading1{
    color: red;
    
}
.body{
    background: turquoise;
}
#main-logo{
    width: 100px;
    height: 100px;
    border-bottom: 100%;
    
}
.title{
    font-size: 30px;
    
}
#logo8{
    width: 450px;
    height: 450px;
    padding-left: 30%;
    border-bottom:  100%;
}
#logo9{
    width: 650px;
    height: 350px;
    padding-left: 20px;
    border-bottom: 100%;
}
#logo10{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}
#logo11{
    width: 1000px;
    height: 950px;
}

    


